.cart-dropdown {
  width: 240px;
  height: 300px;
  background-color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  z-index: 5;
  top: 80px;
  right: 200px;

  .cart-items {
    height: 80%;
    width: 96%;
    overflow-y: scroll;
  }

  .custom-button {
    position: absolute;
    top: 80%;
  }
}
