.cart-icon {
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .shopping-bag {
    height: 32px;
    width: 32px;
  }

  .item-count {
    font-size: 16px;
    position: absolute;
    bottom: 20px;
  }
}
