.sign-up {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .group {
      width: 50%;
    }

    .buttons {
      margin-top: 24px;
      width: 100%;
      display: flex;
      justify-content: center;

      .custom-button {
        width: 25%;
      }
    }

  }
}
