body {
  margin: 0;
  padding: 20px 200px;
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fafafa;
  color: #231f20;
  margin: 0;
  overflow-x: hidden;
  text-align: left;
}

* {
  box-sizing: border-box;
}
